In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
infile = 'example_data/wsdi_yr_ACCESS-CM2_ssp245_ensemble_aus-states-cities_1850-2100.csv'

In [5]:
df = pd.read_csv(infile)

In [14]:
df

,year,model,run,experiment,NSW,VIC,QLD,SA,WA,TAS,NT,AUS,Melbourne,Sydney,Brisbane,Darwin,Perth,Adelaide,Hobart
0,1850,ACCESS-CM2,r10i1p1f1,historical,4.41,1.84,4.96,3.53,3.07,0.00,4.62,3.90,0.0,0.0,0.0,0.0,6.0,0.0,0.0
1,1850,ACCESS-CM2,r1i1p1f1,historical,12.43,2.15,12.32,7.01,11.99,0.00,10.02,10.73,0.0,13.0,12.0,0.0,6.0,0.0,0.0
2,1850,ACCESS-CM2,r2i1p1f1,historical,7.09,6.50,4.51,4.15,8.09,2.93,3.65,5.80,7.0,6.0,6.0,0.0,0.0,6.0,0.0
3,1850,ACCESS-CM2,r3i1p1f1,historical,1.78,0.00,1.34,0.40,0.12,0.00,1.73,0.88,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1850,ACCESS-CM2,r4i1p1f1,historical,1.61,0.00,0.30,1.03,2.74,0.00,2.50,1.71,0.0,0.0,0.0,6.0,6.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2505,2100,ACCESS-CM2,r5i1p1f1,ssp245,87.00,96.90,140.23,54.48,146.78,157.30,184.27,132.46,142.0,103.0,187.0,327.0,76.0,47.0,111.0
2506,2100,ACCESS-CM2,r6i1p1f1,ssp245,64.96,42.19,151.55,31.95,106.50,117.90,137.32,106.38,62.0,61.0,131.0,354.0,157.0,29.0,97.0
2507,2100,ACCESS-CM2,r7i1p1f1,ssp245,50.32,50.31,151.51,46.53,85.00,165.65,160.94,104.45,65.0,76.0,151.0,364.0,86.0,50.0,127.0
2508,2100,ACCESS-CM2,r8i1p1f1,ssp245,79.96,47.65,161.48,38.76,97.00,130.66,191.56,117.73,63.0,94.0,153.0,356.0,17.0,31.0,112.0
2509,2100,ACCESS-CM2,r9i1p1f1,ssp245,72.92,69.97,181.66,51.58,87.64,128.75,177.70,118.30,68.0,89.0,158.0,362.0,75.0,55.0,85.0

In [16]:
location = 'AUS'
ref_start = 1950
ref_end = 2014

df_ref = df[(df['year'] >= ref_start) & (df['year'] <= ref_end)]
nruns = len(df['run'].unique())
window = nruns * 20

df_data = df.drop(['year', 'model', 'run', 'experiment'], axis=1)
df_ref_data = df_ref.drop(['year', 'model', 'run', 'experiment'], axis=1)

p98 = df_ref_data.quantile(0.98)

In [17]:
p98

NSW          18.4554
VIC          12.6416
QLD          32.9252
SA           15.3718
WA           23.1238
TAS           9.4322
NT           36.5448
AUS          22.6056
Melbourne    13.0000
Sydney       14.0000
Brisbane     28.0000
Darwin       74.0200
Perth        18.0000
Adelaide     14.0000
Hobart        8.0000
Name: 0.98, dtype: float64

In [24]:
df_threshold_test = df_data > p98

In [29]:
odds = df_threshold_test.rolling(window, step=nruns, center=True).apply(lambda s: (sum(s) / window) * 100)
odds.index = df['year'].unique()
odds = odds.dropna()
odds.index.name = 'year'
odds = odds.round(decimals=1)

In [50]:
odds

,NSW,VIC,QLD,SA,WA,TAS,NT,AUS,Melbourne,Sydney,Brisbane,Darwin,Perth,Adelaide,Hobart
year,,,,,,,,,,,,,,,
1860,1.5,1.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.5,0.5
1861,1.0,1.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.5,0.5
1862,1.0,1.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.5,0.5
1863,1.0,1.0,0.5,0.5,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.5,0.0
1864,1.0,1.0,0.5,0.5,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2087,99.0,99.5,100.0,98.0,100.0,100.0,100.0,100.0,98.0,99.0,100.0,100.0,97.5,79.0,100.0
2088,99.5,99.5,100.0,98.5,100.0,100.0,100.0,100.0,98.0,99.0,100.0,100.0,97.5,79.5,100.0
2089,99.5,99.5,100.0,98.5,100.0,100.0,100.0,100.0,98.0,99.0,100.0,100.0,97.5,80.0,100.0
2090,99.5,99.5,100.0,98.5,100.0,100.0,100.0,100.0,98.0,99.0,100.0,100.0,98.0,81.0,100.0
2091,99.5,99.5,100.0,98.5,100.0,100.0,100.0,100.0,98.0,99.0,100.0,100.0,97.5,81.0,100.0

In [36]:
model = df['model'].unique()[0]

In [35]:
experiment = df['experiment'].unique()[-1]

In [42]:
runs = list(df['run'].unique())

In [43]:
f"{runs}"

"['r10i1p1f1', 'r1i1p1f1', 'r2i1p1f1', 'r3i1p1f1', 'r4i1p1f1', 'r5i1p1f1', 'r6i1p1f1', 'r7i1p1f1', 'r8i1p1f1', 'r9i1p1f1']"

In [51]:
pre_header_lines = [
    "Metric: WSDI",
    f"Model: {model}",
    f"Experiment: {experiment}",
    f"Runs: {runs}",
    "Command: <insert cmdline_provenance>"
]

output_filename = 'output_with_pre_header.csv'

# Open the file and write the pre-header lines
with open(output_filename, mode='w') as f:
    for line in pre_header_lines:
        f.write(line + '\n')
    odds.to_csv(f, mode='a', header=True, index=True)